.profile{
    position: relative;
}

.profile .profile-child{
    position: absolute;
    left: -60px;
    top: 36px;
    visibility: hidden;
}

.profile:hover .profile-child{
    transition-delay: 400ms;
    visibility: visible;
}

/* Active navLink style */
*.active {
    color: #16a34a;
    border: 2px solid #16a34a;
    padding: 2px 6px;
}

ul li a:hover{
    color: #16a34a;
}

/* .menu li > .btn:active {
    background-color: green;
} */